#root {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

/* Enable webview to fill its container */
webview {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border: none;
}